# Compilados Java
*.class
*.log

# Diretórios criados pelo Maven
target/

# Pastas de build de IDEs
bin/
.settings/

# Arquivos de configuração de IDEs
.classpath
.project
.idea/
*.iml

# VSCode
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db
